:host {
  .line-head {
    height: 55px;
    display: block;
    min-width: 90px;
    margin-right: 18px;
  }
  h4:first-child {
    min-width: 80px;
    padding-left: 20px;
  }
  .text-center {
    text-align: center;
  }
  .table {
    thead {
      tr {
        th {
          min-width: 85px;
          padding-left: 8px;
          cursor: pointer;
        }
      }
    }
    tbody {
      tr {
        td {
          min-width: 85px;
          max-width: 500px;
          padding-left: 8px;
          line-height: 30px;
          word-break: break-all;
          word-wrap: break-word;
          white-space: inherit !important;
        }
        td:nth-child(4),
        td:nth-child(5) {
          min-width: 25px;
          padding: 0 8px 0 8px;
        }
      }
    }
  }
  th {
    line-height: inherit;
  }
  .message-content {
    word-break: break-all;
    word-wrap: break-word;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
    img {
      border-bottom: 1px solid #000000;
    }
  }
  @media (max-width:5120px) and (min-width:410px) {
    .modal-ms {
      width: 400px;
      margin: auto;
      padding-top: 3%;
    }
  }
  .content-panel {
    overflow: auto;
  }
}
