<section class="container">
  <button class="btn btn-success" (click)="onCreate()">Create</button>
  <div class="alert alert-danger" role="alert" *ngIf="loadingIndicator">
    Loadding ...
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-xs-3">
          <a href="#" (click)="onChangeSorting('dept_external_code')">
                      <span>Code</span>
                      <i *ngIf="model.sort.key === 'dept_external_code'" class="pull-right fa" [ngClass]="{'fa-angle-down': (model.sort.direction === 'desc'), 'fa-angle-up': (model.sort.direction === 'asc')}"></i>
                  </a>
        </th>
        <th class="col-xs-3">
          <a href="#" (click)="onChangeSorting('dept_name')">
                      <span>Name</span>
                      <i *ngIf="model.sort.key === 'dept_name'" class="pull-right fa" [ngClass]="{'fa-angle-down': (model.sort.direction === 'desc'), 'fa-angle-up': (model.sort.direction === 'asc')}"></i>
                  </a>
        </th>
        <th class="col-xs-5">
          <a href="#" (click)="onChangeSorting('dept_name_abbreviation')">
                      <span>Abbr Name</span>
                      <i *ngIf="model.sort.key === 'dept_name_abbreviation'" class="pull-right fa" [ngClass]="{'fa-angle-down': (model.sort.direction === 'desc'), 'fa-angle-up': (model.sort.direction === 'asc')}"></i>
                  </a>
        </th>
        <th colspan="2" class="col-xs-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dept of departments, let i = index">
        <td>{{ dept && dept.code }}</td>
        <td>{{ dept && dept.name }}</td>
        <td>{{ dept && dept.nameAbb }}</td>
        <td>
          <a href="javascript:void(0)" (click)="onEdit(dept)" class="m-l-20"><img src="assets/images/edit.svg" /></a>
        </td>
        <td>
          <a href="javascript:void(0)" (click)="onDelete(dept)"><img src="assets/images/del.svg" /></a>
        </td>
      </tr>
    </tbody>
  </table>
